
@media screen and (max-width: 768px){
  .container {
    padding: 2rem;
  }
  .content-under .content__right-side--social{
    flex-basis: 49%;
  }
  .social-box .social-box__list .box__list-item img{
    max-width: 54px;
  }
  .yellow-banner{
    display: block;
  }
  .timer-box{
    padding: 0rem 1rem 1rem 1rem;;
  }
}
@media screen and (max-width: 700px){
  body{
    font-size: 1.2rem;
  }
  h2, h1{
    font-size: 2rem;
  }

  .first-section{
    padding-top: 118px;
  }
  .content-under .content__right-side, .content-under .content__left-side{
    width: 100%;
    margin-bottom: 20px;
  }
  .rounded-image{
    max-width: 100%;
  }
  .left-side__image{
    width: 100%;
  }
   .first-section .content, .advantages{
    flex-direction: column;
  } 
  .first-section .content {
    margin-bottom: 70px;
  }
  .advantages__item:not(:last-child){
    margin-bottom: 20px;
  }
  .content:nth-child(2){
    flex-direction: column-reverse;
  }
  .content-under .content__right-side--social{
    flex-basis: 49%;
  }
  .social-box .social-box__list .box__list-item img{
    max-width: 50px;
  }

}
@media screen and (max-width: 915px){
  .faq-list{
    flex-direction: column;
  }
  .faq-list--left-side, .faq-list--right-side{
    max-width: 100%;
  }
}
@media screen and (max-width: 566px){

  .yellow-banner__content-descr #cta-timer{
    text-align: center;
  }
  .yellow-banner__content-descr #timer__box-text{
    flex-direction: column;
  }
  .cta{
    margin-bottom: 5px;
  }
  
}
@media screen and (max-width: 480px){
  nav ul li:not(:last-child){
    margin: 0rem;
  }
  nav a {
    font-size: 1rem;
    padding: 5px;
  }
  .logo{
    width: 40px;
    height: 40px;
  }
  .logo img{
    width: 100%;
    height: 100%;
  }
  header .timer-box{
    width: 20rem;
  }
  #timer{
    text-align: center;
  }
  #timer__box-text{
    flex-direction: column;
  }
}
@media screen and (max-width: 425px){
  .cta{
    padding: 2rem;
  }
 .footer-list__item{
   width: 47%;
   margin-right: 10px;
 }
}
@media screen and (max-width: 380px){
  header .timer-box{
    width: 15rem;
  }
  .cta{
    padding: 1rem;
  }
}

